
*.iml
.gradle
.idea
.kotlin
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.xcodeproj
macosApp/macosApp/Info.plist
macosApp/macosApp/macosApp.entitlements
*.jks
*.gpg
*yarn.lock
